.about {
  height: 630px;
  text-align: left;
  line-height: 35px;
  margin-top: 100px;
  margin-left: 500px;
  margin-right: 500px;
}

.sub-about {
  font-size: 20px;
  margin-top: 120px;
  margin-right: 100px;
}

.header {
  font-weight: normal;
  font-size: 60px;
}

.code-font {
  font-family: 'Cutive Mono', monospace;
  font-weight: 300;
}

a:link {
  color: blue;
}

a:visited {
  color: blue;
}
