.about {
  height: 630px;
  text-align: left;
  line-height: 42px;
  margin-top: 180px;
  margin-left: 400px;
  margin-right: 400px;
}

.about-desc {
  margin-top: 120px;
  margin-right: 100px;
  font-size: 22px;
}

.name {
  font-weight: normal;
  font-size: 70px;
}

.code-font {
  font-family: 'Cutive Mono', monospace;
  font-weight: 300;
}

a:link {
  color: blue;
}

a:visited {
  color: blue;
}
