.about {
  width: 100%;
  height: 100%;
  text-align: left;
}

.about-desc {
  line-height: 1.40;
  font-size: 56px;
  font-weight: 600;
  padding-top: 10%;
  margin-left: 20%;
  margin-right: 25%;
}

.name {
  font-weight: normal;
  font-size: 70px;
}

.code-font {
  font-family: 'Cutive Mono', monospace;
  font-weight: 300;
}
