.project {
  line-height: 2em;
  height: 30em;
  margin-left: 20em;
  margin-right: 20em;
}

.ch-content {
  z-index: 1;
  float: left;
  height: 85%;
  width: 63%;
  margin-left: 5%;
}

.ch-photo {
  width: auto;
  height: 130%;
  box-shadow: -10px 13px 50px 0px;
}

.ch-sub-content {
  text-align: right;
  float: left;
  height: 40%;
  width: 25%;
}

.ch-title {
  font-family: 'Cutive Mono', monospace;
  font-weight: 300;
  margin-bottom: 0em;
}

.ch-subtitle {
  font-family: 'Yantramanav', sans-serif;
  font-weight: 300;
  font-size: 1em;
  margin-top: 0em;
}

.ch-hr {
  background-color: black;
  border-color: black;
  border: none;
  height: 1px;
}
