.ch-content {
  position: relative;
  z-index: 1;
  float: left;
  height: 100%;
  width: 60%;
  margin-left: -80px;
}

.ch-photo {
  width: auto;
  height: 90%;
  box-shadow: -8px 10px 50px -12px;
}

.ch-logo {
  position: absolute;
  bottom: 30px;
  right: -920px;
  zoom: 30%;
}

.ch-sub-content {
  text-align: right;
  float: left;
  height: 40%;
  width: 30%;
  margin-left: 150px;
}

.ch-hr {
  background-color: black;
  border-color: black;
  border: none;
  height: 1px;
  width: 100%;
}

.ch-languages-pos {
  margin-top: 150px;
  margin-right: 160px;
}
