.fk-content {
  position: relative;
  z-index: 1;
  float: right;
  height: 100%;
  width: 75%;
  margin-left: 0;
}

.fk-photo {
  background-color: #ffd248;
  width: auto;
  height: 85%;
  box-shadow: 8px 10px 50px -12px;
}

.fk-logo {
  position: absolute;
  right: -105px;
  bottom: 50px;
}

.google-logo {
  position: absolute;
  bottom: 55px;
  left: -35px;
  zoom: 83%;
}

.fk-sub-content {
  text-align: left;
  float: left;
  width: 25%;
  margin-top: 80px;
}

.fk-hr {
  background-color: black;
  border-color: black;
  border: none;
  height: 1px;
  width: 100%;
}

.fk-languages-pos {
  margin-top: 230px;
  margin-left: 95px;
}
