.nav {
  font-family: 'Yantramanav', sans-serif;
  font-weight: 300;
  font-size: 23px;
  list-style: none;
  position: fixed;
  bottom: 50px;
  left: 100px;
  width: 150px;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
}

.nav-hr {
  float: left;
  height: 2px;
  width: 20%;
  background-color: #ffd248;
  border-color: #ffd248;
  border: none;
}

.section {
  text-align: center;
  width: 100%;
  cursor: pointer;
  margin: 15px 15px 15px 15px;
}
