.details-list {
  font-family: 'Cutive Mono', monospace;
  position: absolute;
  text-align: left;
  list-style: none;
  line-height: 2;
  bottom: -80px;
  right: 0;
  margin-bottom: 0;
}

.details-circle {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin-right: 13px;
  border-radius: 100%;
}

.details-list-media {
  font-size: 18px;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .details-list-media {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .details-list-media  {
    display: none;
  }
}

.ruby {
  background-color: #701516;
}

.javascript {
  background-color: #f1e05a;
}

.swift {
  background-color: #ffac45;
}

.python {
  background-color: #3572A5;
}

.java {
  background-color: #b07219;
}

.c {
  background-color: #555555;
}

.css {
  background-color: #563d7c;
}

.html {
  background-color: #e34c26
}

.black {
  background-color: #000000;
}
