.project {
  line-height: 2;
}

.project-content {
  position: relative;
  text-align: left;
  height: 100%;
  margin: auto;
}

.project-title {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
}

.project-hr {
  background-color: #000000;
  border-color: #000000;
  border: none;
  height: 1px;
  width: 100%;
}

.project-subtitle {
  font-family: 'Cormorant Garamond', serif;
  line-height: 1.5;
  font-weight: 300;
}

.project-subtitle-enter {
  opacity: 100%;
  -webkit-transition: opacity 300ms linear;
  -moz-transition: opacity 300ms linear;
  -o-transition: opacity 300ms linear;
  -ms-transition: opacity 300ms linear;
  transition: opacity 300ms linear, opacity 300ms linear;
  will-change: opacity;
}

.project-subtitle-leave {
  opacity: 0;
  -webkit-transition: opacity 300ms linear;
  -moz-transition: opacity 300ms linear;
  -o-transition: opacity 300ms linear;
  -ms-transition: opacity 300ms linear;
  transition: opacity 300ms linear, opacity 300ms linear;
  will-change: opacity;
}


.project-primary-leave {
  opacity: 0;
  transform: translateY(0);
  -webkit-transition: transform 300ms linear;
  -moz-transition: transform 300ms linear;
  -o-transition: transform 300ms linear;
  -ms-transition: transform 300ms linear;
  transition: transform 300ms linear, opacity 300ms linear;
  will-change: transform, opacity;
}

.project-desc {
  position: absolute;
  bottom: -80px;
  line-height: 1.5;
  margin-bottom: 0;
}

.project-content-media {
  height: 350px;
  width: 900px;
}

.project-title-media {
  font-size: 50px;
}

.project-subtitle-media {
  font-size: 21px;
}

.project-primary-enter-media {
  opacity: 100%;
  transform: translateY(40px);
  -webkit-transition: transform 300ms linear;
  -moz-transition: transform 300ms linear;
  -o-transition: transform 300ms linear;
  -ms-transition: transform 300ms linear;
  transition: transform 300ms linear, opacity 300ms linear;
  will-change: transform, opacity;
}

.project-desc-media {
  font-size: 22px;
  width: 60%;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .project-content-media {
    height: 290px;
    width: 85%;
  }

  .project-title-media {
    font-size: 40px;
  }

  .project-subtitle-media {
    font-size: 18px;
  }

  .project-primary-enter-media {
    opacity: 100%;
    transform: translateY(25px);
    -webkit-transition: transform 300ms linear;
    -moz-transition: transform 300ms linear;
    -o-transition: transform 300ms linear;
    -ms-transition: transform 300ms linear;
    transition: transform 300ms linear, opacity 300ms linear;
    will-change: transform, opacity;
  }


  .project-desc-media {
    font-size: 20px;
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .project-content-media {
    height: 230px;
    width: 85%;
  }

  .project-title-media {
    font-size: 20px;
  }

  .project-subtitle-media {
    font-size: 15px;
  }

  .project-primary-enter-media {
    opacity: 100%;
    transform: translateY(10px);
    -webkit-transition: transform 300ms linear;
    -moz-transition: transform 300ms linear;
    -o-transition: transform 300ms linear;
    -ms-transition: transform 300ms linear;
    transition: transform 300ms linear, opacity 300ms linear;
    will-change: transform;
  }

  .project-desc-media {
    font-size: 15px;
    width: 100%;
  }
}
