.project {
  background: green;
  line-height: 2em;
  height: 30em;
  margin-left: 20em;
  margin-right: 20em;
}

.content {
  background: orange;
  z-index: 1;
  float: left;
  height: 80%;
  width: 55%;
  margin-left: 5%;
}

.sub-content {
  background: yellow;
  float: left;
  height: 40%;
  width: 30%;
}

.title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0em;
}

.subtitle {
  font-family: 'Karla', sans-serif;
  font-size: 0.9em;
  margin-top: 0em;
}
