.details-list {
  position: absolute;
  text-align: left;
  list-style: none;
  float: right;
  line-height: 2;
  font-size: 18px;
  bottom: 0;
  right: 0;
  margin-bottom: 0;
  font-family: 'Cutive Mono', monospace;
}

.details-circle {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin-right: 13px;
  border-radius: 100%;
}

.ruby {
  background-color: #701516;
}

.javascript {
  background-color: #f1e05a;
}

.swift {
  background-color: #ffac45;
}

.python {
  background-color: #3572A5;
}

.java {
  background-color: #b07219;
}

.c {
  background-color: #555555;
}

.css {
  background-color: #563d7c;
}

.html {
  background-color: #e34c26
}

.black {
  background-color: #000000;
}
