.project {
  line-height: 2em;
  height: 30em;
  margin-left: 20em;
  margin-right: 20em;
}

.content {
  background: orange;
  z-index: 1;
  float: left;
  height: 85%;
  width: 65%;
  margin-left: 5%;
  box-shadow: -10px 13px 50px 0px;
}

.sub-content {
  text-align: right;
  float: left;
  height: 40%;
  width: 25%;
}

.title {
  font-family: 'Karla', sans-serif;
  font-weight: 300;
  margin-bottom: 0em;
}

.subtitle {
  font-family: 'Karla', sans-serif;
  font-weight: 300;
  font-size: 1em;
  margin-top: 0em;
}

hr {
  background-color: black;
  border-color: black;
  border: none;
  height: 1px;
}
