.rp-content {
  position: relative;
  z-index: 1;
  float: left;
  height: 100%;
  width: 30%;
}

.rp-photo {
  width: auto;
  height: 110%;
}

.rp-sub-content {
  text-align: right;
  float: left;
  height: 40%;
  width: 50%;
  margin-top: 160px;
  margin-left: -15px;
}

.rp-hr {
  background-color: black;
  border-color: black;
  border: none;
  height: 1px;
  width: 100%;
}

.rp-languages-pos {
  margin-top: 180px;
  margin-right: 750px;
  margin-left: -100px;
}
