.additional-project-container {
  margin-left: 10vw;
  margin-right: 10vw;
  padding-left: 5%;
}

.additional-project {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 30%;
  margin-right: 1vw;
}

.additional-sub {
  margin-top: 20px;
}

.additional-project-hr {
  background-color: black;
  border-color: black;
  border: none;
  height: 1px;
  width: 75%;
  margin-top: 20px;
  margin-left: 0;
}

.oscar-details-pos {
  position: relative;
  top: 4vw;
  margin: 0;
  padding: 0;
}

.os-details-pos {
  position: relative;
  top: 2.5vw;
  margin: 0;
  padding: 0;

}

.website-details-pos {
  position: relative;
  top: 2vw;
  margin: 0;
  padding: 0;
}
