.additional-project-container {
  width: 60%;
  margin-left: 21%;
}

.additional-project {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 30%;
  margin-right: 25px;
}

.additional-sub {
  margin-top: 20px;
}

.additional-project-hr {
  background-color: black;
  border-color: black;
  border: none;
  height: 1px;
  width: 75%;
  margin-top: 20px;
  margin-left: 0;
}

.oscar-details-pos {
  margin-top: 84px;
  padding: 0;
}

.os-details-pos {
  margin-top: 53px;
  padding: 0;

}

.website-details-pos {
  margin-top: 40px;
  padding: 0;
}
