.ch-content {
  text-align: left;
  position: relative;
  float: left;
  height: 100%;
  width: 100%;
}

.ch-photo {
  width: 105%;
  height: 85%;
  box-shadow: -8px 10px 50px -12px;
}

.ch-desc {
  background-color: white;
  position: absolute;
  text-align: left;
  float :left;
  top: 0;
  left: 0;
  width: 105%;
  height: 85%;
  opacity: 0;
  transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.ch-desc:hover {
  opacity: 0.85;
}

.ch-desc-txt {
  display: inline-block;
  position: absolute;
  bottom: 0;
  width: 60%;
  line-height: 1.5;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 0;
}

.ch-details-pos {
  display: inline-block;
  position: absolute;
  float: right;
  bottom: 0;
  right: 0;
  margin-bottom: 0;
}
