.ch-content {
  position: relative;
  float: left;
  z-index: 1;
  height: 100%;
  width: 60%;
}

.ch-photo {
  width: auto;
  height: 90%;
  box-shadow: -8px 10px 50px -12px;
}

.ch-logo {
  position: absolute;
  bottom: 0px;
  right: -600px;
  zoom: 32%;
}

.ch-sub-content {
  text-align: right;
  float: left;
  height: 40%;
  width: 35%;
  margin-top: 40px;
}

.ch-hr {
  background-color: black;
  border-color: black;
  border: none;
  height: 1px;
  width: 100%;
}

.ch-details-pos {
  margin-top: 80px;
  margin-right: 400px;
}
