.fk-content {
  position: relative;
  z-index: 1;
  float: right;
  height: 100%;
  width: 73%;
  margin-left: 0;
}

.fk-photo {
  background-color: #00e;
  width: auto;
  height: 83%;
  box-shadow: 8px 10px 50px -12px;
}

.fk-logo {
  position: absolute;
  right: -120px;
  bottom: 40px;
  zoom: 115%;
}

.google-logo {
  position: absolute;
  bottom: 45px;
  left: -60px;
  zoom: 100%;
}

.fk-sub-content {
  text-align: left;
  float: left;
  width: 27%;
  margin-top: 80px;
}

.fk-hr {
  background-color: black;
  border-color: black;
  border: none;
  height: 1px;
  width: 100%;
}

.fk-details-pos {
  margin-top: 190px;
  margin-left: 120px;
}
