.fk-content {
  position: relative;
  float: right;
  z-index: 1;
  height: 100%;
  margin-right: 20px;
}

.fk-photo {
  background-color: #00e;
  width: auto;
  height: 80%;
  box-shadow: 8px 10px 50px -12px;
}

.fk-desc {
  background-color: black;
  position: absolute;
  text-align: left;
  float :left;
  top: 0;
  left: 0;
  width: auto;
  height: 80%; 
  opacity: 0.8;
}

.fk-desc-txt {
  color: white;
  font-size: 24px;
  font-weight: 600;
  margin: 15%;
}

.fk-sub-content {
  text-align: left;
  float: left;
  width: 30%;
  margin-left: 50px;
  margin-top: 80px;
}

.fk-details-pos {
  margin-top: 180px;
  margin-left: 260px;
}

.fk-logo {
  position: absolute;
  right: -40px;
  bottom: 40px;
  zoom: 120%;
}

.google-logo {
  position: absolute;
  bottom: 45px;
  left: -50px;
  zoom: 100%;
}
