.details-list {
  display: inline-block;
  text-align: left;
  list-style: none;
  line-height: 2.1;
  font-size: 0.85vw;
  padding-left: 0;
}

.circle {
  display: inline-block;
  height: 0.6vw;
  width: 0.6vw;
  margin-right: 0.7vw;
  border-radius: 50%;
}

.trophy {
  height: 1vw;
  width: 1vw;
  margin-right: 0.4vw;
}

.line-through {
  text-decoration: line-through;
}

.ruby {
  background-color: #701516;
}

.javascript {
  background-color: #f1e05a;
}

.swift {
  background-color: #ffac45;
}

.python {
  background-color: #3572A5;
}

.java {
  background-color: #b07219;
}

.c {
  background-color: #555555;
}

.css {
  background-color: #563d7c;
}

.html {
  background-color: #e34c26
}

.black {
  background-color: #000000;
}
