.languages-list {
  display: inline-block;
  text-align: left;
  list-style: none;
  line-height: 1.9;
}

.circle {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin-right: 10px;
  border-radius: 50%;
}

.trophy {
  zoom: 15%;
  margin-right: 35px;
}

.ruby {
  background-color: #701516;
}

.javascript {
  background-color: #f1e05a;
}

.swift {
  background-color: #ffac45;
}

.python {
  background-color: #3572A5;
}

.java {
  background-color: #b07219;
}

.c {
  background-color: #555555;
}
