.rp-content {
  position: relative;
  float: left;
  z-index: 1;
  height: 100%;
  width: 45%;
}

.rp-photo {
  width: auto;
  height: 110%;
}

.rp-sub-content {
  text-align: right;
  float: left;
  height: 40%;
  width: 50%;
  margin-top: 160px;
  margin-left: -200px;
}

.rp-details-pos {
  margin-top: 80px;
  margin-right: 575px;
  margin-left: -300px;
}
