.rp-content {
  position: relative;
  float: left;
  z-index: 1;
  height: 100%;
  width: 30%;
  margin-left: 60px;
}

.rp-photo {
  width: auto;
  height: 110%;
}

.rp-sub-content {
  text-align: right;
  float: left;
  height: 40%;
  width: 50%;
  margin-top: 160px;
  margin-left: -160px;
}

.rp-details-pos {
  z-index: 10;
  margin-top: 100px;
  margin-right: 575px;
  margin-left: -240px;
}
