.rp-content {
  position: relative;
  float: left;
  z-index: 1;
  height: 100%;
  width: 30%;
  margin-left: 60px;
}

.rp-photo {
  width: auto;
  height: 110%;
}

.rp-desc {
  background-color: black;
  position: absolute;
  text-align: left;
  float :left;
  top: 90px;
  left: 63px;
  width: 72%;
  height: 84%; 
  opacity: 0;
  transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.rp-desc:hover {
  opacity: 0.8;
}

.rp-desc-txt {
  color: white;
  font-size: 24px;
  font-weight: 600;
  margin: 65% 15%;
}

.rp-sub-content {
  text-align: right;
  float: left;
  height: 40%;
  width: 50%;
  margin-top: 160px;
  margin-left: -160px;
}

.rp-details-pos {
  z-index: 10;
  margin-top: 80px;
  margin-right: 575px;
  margin-left: -250px;
}
