html, body {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.page {
  height: 100%;
  width: 100%;
}

.mrl {
  margin-right: 2em;
}

.royal-link {
  color: #0F00FF;
  text-decoration: none;
  transition: color 0.2s linear;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.royal-link:visited {
  color: #00e;
}

.royal-link:hover {
  color: #b3b3ff;
}

.fade-in {
  animation: fadein 1.8s;
  -moz-animation: fadein 1.8s;
  -webkit-animation: fadein 1.8s;
  -o-animation: fadein 1.8s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
