.royal {
  color: #00e;
}

.project {
  height: 700px;
  line-height: 35px;
  margin-left: 300px;
  margin-right: 300px;
}

.project-title {
  font-family: 'Cutive Mono', monospace;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 0;
}

.project-subtitle {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
}

.code-font {
  font-family: 'Cutive Mono', monospace;
}

.mtz {
  margin-top: 0;
}

.mbs {
  margin-bottom: 10px;
}

.mrl {
  margin-right: 60px;
}

.royal-link {
  color: #00e;
  text-decoration: none;
  transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.royal-link:visited {
  color: #00e;
}

.royal-link:hover {
  color: #b3b3ff;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 20px;
  font-weight: 300;
}
