.navigation {
  font-family: 'Karla', sans-serif;
  font-size: 1.8em;
  position: fixed;
  bottom: 60px;
  left: 90px;
}

.list {
  list-style: none;
}

.right-offset {
  padding-right: 20em;
}

li {
  margin: 0 0 0.5em 0;
  cursor: pointer;
}
