.navigation {
  text-align: center;
  font-family: 'Source Serif Pro', serif;
  font-size: 2em;
}

.list {
  list-style: none;
}

li {
  margin: 0 0 0.5em 0;
  cursor: pointer;
}

.right-offset {
  padding-right: 30em;
}
